body {
    font-family: "Consolas", Arial, Helvetica, sans-serif;
}

.flex-container-1 {
    display: flex;
    justify-content: center;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
}

.flex-container-2-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
}

.flex-container-3 {
   display: flex;
   justify-content: center;
   flex-direction: row; 
   flex-wrap: wrap;
   margin-top: 40px;

}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

span {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #ff83cb;
    width: 40px;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    margin: 5px;
    width: 300px;
    padding: 10px 0;
    background-color:  #0084ff;;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}

img {
    width: 350px;
    height: 400px;
}

button :hover {
    background-color: #0682a0;
}

.certa, .certa :hover {
    background-color: #06a05d;
    border: #06a05d;
    cursor: inherit;
}

.errada, .errada :hover {
    background-color: red;
    border: red;
    cursor: inherit;
}
